<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SleepTime" value="100"/>
    <add key="JDUsername" value="327303195@qq.com"/>
    <add key="JDPassword" value="stone13142nan%"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>